<h1>Texting Made Easy</h1>
<p>Welcome</p>

<%= form_tag("/sms/send", method: "post") do %>
<p>
    Please enter the phone number you wish to text in the box below
</p>
<%= telephone_field(:user, :phone) %>
<button type="submit">Send Text</button>

<% end %>
